<p id="notice"><%= notice %></p>

<h1>People</h1>

<table>
  <thead>
    <tr>
      <th>Bd</th>
      <th>Rank</th>
      <th>Name</th>
      <th>Trade</th>
      <th>Section</th>
      <th>Base</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.bd %></td>
        <td><%= person.rank %></td>
        <td><%= person.name %></td>
        <td><%= person.trade %></td>
        <td><%= person.section %></td>
        <td><%= person.base %></td>
        <td><%= link_to 'Show', person %></td>
        <td><%= link_to 'Edit', edit_person_path(person) %></td>
        <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Person', new_person_path %>
