<p id="notice"><%= notice %></p>

<p>
  <strong>Bd:</strong>
  <%= @person.bd %>
</p>

<p>
  <strong>Rank:</strong>
  <%= Rank.find(@person.rank).title %>
</p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Trade:</strong>
  <%= Trade.find(@person.trade).title %>
</p>

<p>
  <strong>Section:</strong>
  <%= Section.find(@person.section).title %>
</p>

<p>
  <strong>Base:</strong>
  <%= Baze.find(@person.base).title %>
</p>
<hr>

<h2>Family Details</h2>

<hr>

<p>Wife</p>
<% if @person.wife.present? %>
<%= @person.wife.name %>
<%else%>
<p>not married yet  | Married Recentyly Please <%= link_to "add", new_wife_path%> Wifes details</p> 
<%end%>

<br>

<p>Children</p>

<% if @person.children.any?%>
  <%@person.children.each do |child|%>
  <%= child.name%>
  <%=child.dob%>
  <br>
  <% end%>
  <% else%>
  <p>No child yet. Born a new one  <%= link_to "add", new_child_path%>  </p>

  <% end%>



<br>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
