<p id="notice"><%= notice %></p>

<p>
  <strong>Bd:</strong>
  <%= @person.bd.round %>
</p>

<p>
  <strong>Rank:</strong>
  <%= Rank.find(@person.rank).title %>
</p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Trade:</strong>
  <%= Trade.find(@person.trade).title %>
</p>

<p>
  <strong>Section:</strong>
  <%= Section.find(@person.section).title %>
</p>

<p>
  <strong>Base:</strong>
  <%= Baze.find(@person.base).title %>
</p>
<hr>

<h2>Family Details</h2>

<hr>

<p>Wife</p>
<% if Wife.find_by_person_bd(@person.bd).present? %>
<%= Wife.find_by_person_bd(@person.bd).name %>
<%else%>
<p>not married yet  | Married Recentyly Please <%= link_to "add", new_wife_path%> Wifes details</p> 
<%end%>

<br>

<p>Children</p>













<%# if @children.present? %>
  <%#@children.each do |child| %>
  
    Name: <%#= child.name %>|Dob : <%#= child.dob %>| age:<%#=((Time.zone.now - child.dob.to_time) / 1.year.seconds).floor %> Years
  <%#end%>
<%#else%>
<p>No child yet  | Born Recentyly Please <%#= link_to "add", new_child_path%> childs details</p> 
<%#end%>

<br>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
