<%= form_with(model: wife, local: true) do |form| %>
  <% if wife.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(wife.errors.count, "error") %> prohibited this wife from being saved:</h2>

      <ul>
      <% wife.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :person_id %>
   <%= collection_select(:wife, :person_id, Person.all, :id, :bd, {:prompt => true, :multiple=>true }, id:"simple-example" )%>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :dob %>
    <%= form.text_field :dob, :class => 'dobwife', data: { date_format: 'dd/mm/yyyy' }, placeholder: "DOB" %>
  </div>

  <div class="field">
    <%= form.label :dom %>
    <%= form.text_field :dom, :class => 'domwife', data: { date_format: 'dd/mm/yyyy' }, placeholder: "DOM" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
