<p id="notice"><%= notice %></p>

<p>
  <strong>Sl no:</strong>
  <%= @rank.sl_no %>
</p>

<p>
  <strong>Title:</strong>
  <%= @rank.title %>
</p>

<%= link_to 'Edit', edit_rank_path(@rank) %> |
<%= link_to 'Back', ranks_path %>
