<!DOCTYPE html>
<html>
	<head>
	<title>Cat Flt MTR</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		
	
	</head>
	<body>
		<div class="container_full">
			<div class=" container">
				<header>
					<div class="menu" id="sticker">
						<ul>
							<li><a href="#">Home</a></li>
							<li><a href="#">JCOIC OFFICE</a></li>
							<li><a href="#">ADMIN OFFICE</a></li>
							<li><a href="#">FRESH SECTION</a></li>
							<li><a href="#">DRY SECTION</a></li>
							<li><a href="#">PAYMENT SECTION</a>
								<ul>
									<li><a href="#">DEMO</a></li>
									<li><a href="#">DEMO</a></li>
									<li><a href="#">DEMO</a></li>
									<li><a href="#">More</a>
										<ul>
											<li><a href="#">DEMO</a></li>
											<li><a href="#">DEMO</a></li>
											<li><a href="#">DEMO</a>
</li>
										</ul>
									</li>
								</ul>
							</li>
							<li><a href="#">OTHER</a></li>
						</ul>
					</div>
				</header>
			</div>
		</div>		
		<div class="fix container_full">
			<div class="fix container">
				<div class="under_header" bg >
					<div class="menu2 floatleft">
						<ul>
							<li><a href="#">Home</a></li>
							<li><a href="#">JCOIC OFFICE</a></li>
							<li><a href="#">ADMIN OFFICE</a></li>
							<li><a href="#">PAYMENT SECTION</a></li>
							<li><a href="#">FRESH SECTION</a></li>
							<li><a href="#">DRY SECTION</a></li>
						</ul>	
						<div class="undrmnu_srch floatright">
							<input type="text" value="" name="s" id="s">
							<input type="submit" id="searchsubmit" value="Search">					
						</div>						
					</div>

				</div>
			</div>
		</div>		
		<div class="fix container_full">
			<div class="fix container">
				<div class="fix content_wrapper">
					<div class="fix middle_content floatleft">
						<h2>This is our website content heading</h2>
						<p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorpm veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit </p>
						<p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit Ut wisi enim ad minimvulputate velit Ut wisi enim ad minimvulputate velit Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit </p>
						<p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl uendrerit in vulputate velit </p>
						<p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit </p>
						<h2>Content Heading Lorem ipsum dolor sit amet, consectetuer </h2>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscTypi non habent claritatem insitam; est usus legentis terarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</p>
						<h2>This is our test heading</h2>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. <blockquote>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seaculaminim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel </blockquote> quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</p>
						
					</div>
					<div class="fix right_content floatleft">
						<h2>ESSENTIAL LINKS</h2>
						<ul>
							<li><a href="http://baf.org/">BANGLADESH AIR FORCE</a></li>
							<li><a href="#">BAF BASE BSR</a></li>
							<li><a href="#/">BAF BASE BBD</a></li>
							<li><a href="#">BAF BASE ZHR</a></li>
							<li><a href="http://192.35.85.6">BAF BASE MTR</a></li>
							<li><a href="#">BAF BASE PKP</a></li>
							<li><a href="#">BAF BASE CXB</a></li>
						</ul>	
						<h2>DEMO</h2>
						<ul>
							<li><a href="/people/new">Add New Personnel</a></li>
							<li><a href="/wives/new">Add Wife</a></li>
							<li><a href="/children/new">Add Child</a></li>
							<li><a href="/lrcs/new">Issue An LRC</a></li>
						</ul>	
						<h2>Categories</h2>
						<ul>
							<li><a href="#">OFFICERS</a></li>
							<li><a href="#">AIRMEN</a></li>
							<li><a href="#">MODCS</a></li>
							<li><a href="#">CIVILIANS</a></li>
							<li><a href="#">MES (AIR)</a></li>
						</ul>
						<h2>Contact US:</h2>
							<p>Your Name:</p>
							<input type="text"/>
							<p>Your Email:</p>
							<input type="text"/>
							<input type="submit"/>
						<h2>Categories</h2>
						<ul>
							<li><a href="#">HTML CSS</a></li>
							<li><a href="#">SEO</a></li>
							<li><a href="#">Web Development</a></li>
							<li><a href="#">Online Earning</a></li>
						</ul>
						<h2>Categories</h2>
						<ul>
							<li><a href="#">HTML CSS</a></li>
							<li><a href="#">SEO</a></li>
							<li><a href="#">Web Development</a></li>
							<li><a href="#">Online Earning</a></li>
						</ul>
						<h2>Categories</h2>
						<ul>
							<li><a href="#">HTML CSS</a></li>
							<li><a href="#">SEO</a></li>
							<li><a href="#">Web Development</a></li>
							<li><a href="#">Online Earning</a></li>
						</ul>
						<h2>Categories</h2>
						<ul>
							<li><a href="#">HTML CSS</a></li>
							<li><a href="#">SEO</a></li>
							<li><a href="#">Web Development</a></li>
							<li><a href="#">Online Earning</a></li>
						</ul>						
					</div>
				</div>
			</div>
		</div>		
		<div class="fix container_full">
			<div class="fix container">
				<footer>
					<div class="fix footer_part">
						<div class="fix footer_left floatleft">
							<h2>Designed by:</h2>
							<h4>Designed & developed by</h4>
								<div class="designer">
									<ul>
										<li><%= image_tag("body.jpg", :alt => "body image")%></li>
										<li><%= image_tag("body.jpg", :alt => "body image")%></li>
										<li style="margin-left: -5px; margin-right: 15px; margin-top: -5px;"><h6>Sgt Ziaur Rahman</h6></li>
										<li style="margin-right: 20px; margin-top: -5px;"><h6>Sgt Zahid Hossain</h6></li>
									</ul>
								</div>
							
								
						</div>
						<div class="fix footer_middle floatleft">
							<h2>Blog Posts:</h2>
							<ul>
								<li><a href="#">Description From Our Recent Blog Post</a></li>
								<li><a href="#">Description From Our Recent Blog Post</a></li>
								<li><a href="#">Description From Our Recent Blog Post</a></li>
								<li><a href="#">Description From Our Recent Blog Post</a></li>		
							</ul>							
						</div>
						<div class="fix footer_right floatleft">
							<h2>Follow US:</h2>
							<ul>
								<li><a href="#"><%= image_tag "fb.png" , :alt =>"fb"%></a></li>
								<li><a href="#"><%= image_tag "tw.png" , :alt =>"tw"%></a></li>
								<li><a href="#"><%= image_tag "gplus.png" , :alt =>"gplus"%></a></li>
								<li><a href="#"><%= image_tag "ldin.png" , :alt =>"linkdin"%></a></li>		
							</ul>						
						</div>
					</div>
				<p class="copysec">Copyright: &copy; <a href="#">Cat Flt Mtr</a>, All Rights Reserved<p>
				</footer>
			</div>
		</div>			
		
		
		
		
		
	<!--Call Latest jQuery and all other Scripts-->		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>	
<script type="text/javascript">
$(document).ready(function() {
	var s = $("#sticker");
	var pos = s.position();					   
	$(window).scroll(function() {
		var windowpos = $(window).scrollTop();
		if (windowpos >= pos.top) {
			s.addClass("stick");
		} else {
			s.removeClass("stick");	
		}
	});
});
</script>	
	</body>
</html>