<%= form_with(model: lrc, local: true) do |form| %>
  <% if lrc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lrc.errors.count, "error") %> prohibited this lrc from being saved:</h2>

      <ul>
      <% lrc.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :person_id %>
    <%= collection_select(:lrc, :person_id, Person.all, :id, :bd, {:prompt => true, :multiple=>true }, id:"simple-example" )%>
  </div>

  <div class="field">
    <%= form.label :closed %>
    <%= form.text_field :closed ,:class => 'closed', data: { date_format: 'dd/mm/yyyy' }, placeholder: "Card closed on"%>
  </div>

  <div class="field">
    <%= form.label :issued %>
    <%= form.text_field :issued ,:class => 'issued', data: { date_format: 'dd/mm/yyyy' }, placeholder: "LRc issud on"%>
  </div>

  <div class="field">
    <%= form.label :iv_no %>
    <%= form.text_field :iv_no %>
  </div>

  <div class="field">
    <%= form.label :reg_sl %>
    <%= form.text_field :reg_sl %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
