<%= form_with(model: lrc, local: true) do |form| %>
  <% if lrc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lrc.errors.count, "error") %> prohibited this lrc from being saved:</h2>

      <ul>
      <% lrc.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.text_field :bd ,class: "form-control" , placeholder: "Enter BD No"%>
  </div>

  <div class="form-group">
   
    <%= form.text_field :rank ,class: "form-control" , placeholder: "Rank"%>
  </div>

  <div class="form-group">
  
    <%= form.text_field :name ,class: "form-control" , placeholder: "Name"%>
  </div>

  <div class="form-group">
  
    <%= form.text_field :trade,class: "form-control" , placeholder: "Trade" %>
  </div>

  <div class="form-group">
    <%= form.text_field :closed, :class => 'datepicker', data: { date_format: 'dd/mm/yyyy' }, placeholder: "Card Closed on" %>  
  </div>

  <div class="form-group">
  <%= form.text_field :issued, :class => 'datepicker2', data: { date_format: 'dd/mm/yyyy' }, placeholder: "Ration Issued Up To Month"%>
 </div>

  <div class="form-group">
   
    <%= form.text_field :iv_no ,class: "form-control" , placeholder: "IV No"%>
  </div>

  <div class="form-group">
    
    <%= form.text_field :reg_sl ,class: "form-control" , placeholder: "Reister SL Number"%>
  </div>

  <div class="form-group">
   
    <%= form.text_field :self ,class: "form-control" , placeholder: "Self"%>
  </div>

  <div class="form-group">
   
    <%= form.text_field :wife ,class: "form-control" , placeholder: "Wife" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
