<p id="notice"><%= notice %></p>

<div id="lrc">
  
  <p align="right">BAF F-20328</p>
  <br>
  <h2 align="center"><u> <b>LAST RATION CERTIFICATE</b></u></h2>
  <br>
  <p>
  BD/............<%=Person.find(@lrc.person_id).bd%>.............Rank..........<%=Person.find(@lrc.person_id).rank%>.......... name..............<%=Person.find(@lrc.person_id).name%>............... <br>Branch/Trade..........<%=Trade.find(Person.find(@lrc.person_id).trade).title%>.............. This is to certify that ration card(BAF F-603 A) <br>Sl No ....... ........ in respect of the above named Officer/Airman/MODC/Civilian has been closed wef............<%= @lrc.closed %>.......... and payment issue of ration to his entitlement for the month of.......<%= @lrc.issued %>.......s per existing scale has been made vide IV No ......... <%= @lrc.iv_no %>........ LRC issue register Sl No....... <%= @lrc.reg_sl %>.
  </p>

  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Perticulars of his family members are apended below.<br><br>

  Self....1.. Wife...<%if Person.find(@lrc.person_id).wife.present?%> 1 <%else%> 0 <%end%>







<br>
<%= link_to 'Edit', edit_lrc_path(@lrc) %> |
<%= link_to 'Back', lrcs_path %>
</div>