<p id="notice"><%= notice %></p>

<p>
  <strong>Bd:</strong>
  <%= @lrc.bd %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @lrc.rank %>
</p>

<p>
  <strong>Name:</strong>
  <%= @lrc.name %>
</p>

<p>
  <strong>Trade:</strong>
  <%= @lrc.trade %>
</p>

<p>
  <strong>Closed:</strong>
  <%= @lrc.closed %>
</p>

<p>
  <strong>Issued:</strong>
  <%= @lrc.issued %>
</p>

<p>
  <strong>Iv no:</strong>
  <%= @lrc.iv_no %>
</p>

<p>
  <strong>Reg sl:</strong>
  <%= @lrc.reg_sl %>
</p>

<p>
  <strong>Self:</strong>
  <%= @lrc.self %>
</p>

<p>
  <strong>Wife:</strong>
  <%= @lrc.wife %>
</p>

<%= link_to 'Edit', edit_lrc_path(@lrc) %> |
<%= link_to 'Back', lrcs_path %>
